body {
	margin:0;
	font-family:Arial;
}

* {
	scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  background-color: white; /*navigation bar background colour #8D8988*/
  position: fixed;
  z-index: 99;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black; /*navigation bar text color*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 10px;
}

/*.active {
  background-color: #04AA6D;
  color: white;
}*/

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 0px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #33ccff;
  color: white;
}

.dropdown-content a:hover {
  background-color: #33ccff;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.navcontent {
	float: right;
	margin-top: -100px;
	position: fixed;
	margin-left: 750px;
}


.logoname {
	width: 200px;
	margin-left: 50px;
	margin-top: 10px;
}

.homesec {
	display: block;
	padding-top: 50px;
}

.LMbtn {
	height: 60px;
	width: 200px;
	border-radius: 10px;
    background-color: transparent; /* Button background color */
    color: black; /* Text color */
    border: none; /* Remove button border for a cleaner look */
    cursor: pointer;
	font-size: 17px;
	font-family: inherit;
	border: 1px solid #000;
	
}

.LMbtn:hover {
  background-color: #33ccff;
  color: white;
  font-weight: bold;
}

.arrow {
    position: absolute;
    right: 46%; /* Adjust the position of the arrow as needed */
    top: 43.2%;
    transform: translateY(-50%);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Add a smooth transition effect */
	font-weight: bold;
	font-size: 24px;
}

.LMbtn:hover .arrow {
    opacity: 1; /* Show the arrow on button hover */
}

.ProjectScopesec {
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 30px;
}

.PS {
	color: #33ccff;
}

.pic {
	background: black;
}

.LSContent {
	margin-left: 600px;
	margin-top: -290px;
	line-height: 1.5;
	text-align: justify;
}

.ProjectScopesec figcaption {
	color:#8D8988;
	width: 550px;
}

.ResearchGap {
	line-height: 1.5;
	text-align: justify;
}

.ResearchProblem {
	line-height: 1.5;
	text-align: justify;
}

.ResearchObjective {
	line-height: 1.5;
	text-align: justify;
}

.RPContent {
	width: 50%;
}

.Demo {
	width:600px;
	margin-left: 700px;
	margin-top: -619px;
}

.method {
	line-height: 1.5;
	text-align: justify;
}

.video-title {
    position: absolute;
    width: 23%;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
	margin-top:-365px;
	margin-left: 0px;
}

.Demo:hover .video-title {
    opacity: 1;
}

.OptiFig {
	margin-left: -250px;
}

.Technologies {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
}

.Technologies .logoframe  {
    width: 100px; /* Set the desired width and height for the circular frame */
    height: 100px;
    border-radius: 50%; /* Create a circular shape with 50% border-radius */
    overflow: hidden; /* Hide any parts of the image that exceed the circular frame */
	margin:10px;
	/*border: 2px solid black;*/
	padding: 25px;
	background: #f2f2f2;
	
}

.logoframe img {
    width: 100px; 
    height: 100px;
    object-fit: contain;
}

.Milestonessec {
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 30px;
}

.Milestonessec .mile {
	color: #33ccff;
}

.timeline-1 {
  border-left: 3px solid #b565a7;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #e6ffff;
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 45%;
}

@media (max-width: 767px) {
  .timeline-1 {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline-1 .event {
  border-bottom: 1px dashed #000;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline-1 .event {
    padding-top: 30px;
  }
}

.timeline-1 .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-1 .event:before,
.timeline-1 .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-1 .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline-1 .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline-1 .event:after {
  -webkit-box-shadow: 0 0 0 3px #b565a7;
  box-shadow: 0 0 0 3px #b565a7;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline-1 .event:after {
    left: -31.8px;
  }
}

.progress {
    width: 100%; /* Set the width of the progress bar */
    height: 20px; /* Set the height of the progress bar */
    background-color: #ccc; /* Set the background color of the progress bar */
    border: 1px solid #000; /* Add a border around the progress bar */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.downloadssec {
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 30px;
}

.downloadssec .down {
	color: #33ccff;
}

.pdf-logo {
  /*display: inline-block;*/
  /*margin-right: 10px;*/
  padding: 10px;
  width: 2.5%;
}

.card-content {
	flex: 1;
	/*padding: 10px;*/
	width: 50%;
	/*background: blue;*/
	margin-left: 10%;
	margin-top: -32px; 
}

.AU {
	color: #33ccff;
}

.aboutussec {
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 30px;
}

.h-100 .card-img-top {
	object-fit: cover;
}

.supervisor {
	width: 21%;
}

a {
	text-decoration: none;
}

.cosupervisor {
	width: 21%;
}

.udithayya {
	width: 21%;
}

.ihshan {
	width: 21%;
}

.binura {
	width: 21%;
}

.murfidh {
	width: 21%;
}

.contactussec {
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 30px;
	padding-left: 45px;
}

.CU {
	color: #004e8c;
}

.form-control {
	width: 50%;
}

.btncolorgradient {
    background-size: 200%;
    background-image: linear-gradient(to left, #52BE80, #196F3D, #52BE80);
	width: 52%;
	color:white;
}

/* Add this CSS to your existing styles */
.topnav a.active {
  background-color: #33ccff;
  color: white;
}

section {
	min-height: 50vh;
}

section.home1 {
	min-height: 100vh;
	background-image: url("../Images/Sri Lankan Rupee.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /* Optionally, to fix the background image while scrolling */
	background-position: center; /* Center the background image */
}

a {
	color: inherit; /* Inherit the color from the parent element */
	text-decoration: none; /* Remove underline by default */
}

.maintitle h1 {
	font-weight: bold;
	color: black;
}

section.milestones1, section.downloads1 {
	background-color: #e6ffff;
}

section.contact1 {
	min-height: 50vh;
	background-image: url("../Images/Sri Lankan Rupee.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /* Optionally, to fix the background image while scrolling */
	background-position: center; /* Center the background image */
}

form {
	padding-left: 45px;
}

 table {
      border-collapse: collapse; /* This removes default spacing between table cells */
      width: 100%;
    }

th, td {
	border: 1px solid #000; /* Add a 1px black border to table headers and data cells */
	padding: 8px; /* Add padding to headers and data cells for spacing */
	text-align: left; /* Align text to the left */
}

.mf, .tr, .db, .fb {
	text-align: center;
}